<!DOCTYPE html>
<html lang="en">
<head>
    <h2>{{ item.name }}</h2>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3> {{ item.price }} RUB</h3>
                <p itemprop="description">Описание: {{ item.description }}</p>
                <a href='{% url "cart:buy" item.pk %}' type="button"
                   class="btn btn-outline-warning">Buy</a>
                <div class="description mid-checkout-content"><br>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
